.faceStrikeImg {
  opacity: 0.5;
  max-width: 100%;
  display: flex;
  width: 100%;
}

.headerContainer {
  position: relative;
  text-align: center;
  color: rgb(241, 237, 250);
}

.pageContainer {
  background-color: rgb(228, 228, 228);
  padding: 5%;
  height: 100%;
}

.title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px black;
  width: 100%;
}

.pageContainer h3 {
  font-size: 6vw;
  margin-top: 0;
  text-align: center;
}

.pageContainer h4 {
  font-size: 3vw;
  margin-top: 0;
  text-align: center;
}

.pageContainer ul {
  font-weight: bold;
  font-size: 2.5vw;
}

.classBenefits {
  padding-left: 15vw;
}

.suitableText {
  text-align: center;
  margin-bottom: 2vh;
  font-weight: bold;
  font-size: 3vw;
}

.pageContainer button {
  width: 50%;
  background: rgb(5, 14, 99);
  color: white;
}

.frame {
  border: 10px solid rgb(5, 14, 99);
  padding: 3%;
  display: grid;
}

.buttonDiv {
  text-align: center;
  font-size: 4vw;
}

.classSchedule {
  color: rgb(5, 14, 99);
  width: fit-content;
  font-weight: bold;
  font-size: 3vw;
  text-decoration: underline;
  padding-left: 6vw;
}

@media (max-width: 768px) {
  .pageContainer ul {
    font-size: 3.5vw;
    margin-top: 0;
  }

  .pageContainer h3 {
    font-size: 6vw;
  }

  .pageContainer h4 {
    font-size: 4.5vw;
  }

  .suitableText {
    font-size: 3.5vw;
  }
}

@media (max-width: 480px) {
  .pageContainer ul {
    font-size: 5vw;
    margin-top: 0;
  }

  .pageContainer h3 {
    font-size: 8vw;
  }

  .pageContainer h4 {
    font-size: 6.5vw;
  }

  .suitableText {
    font-size: 6vw;
  }

  .buttonDiv {
    font-size: 6vw;
  }
}
