.headerContainer {
  position: relative;
  text-align: center;
  color: rgb(241, 237, 250);
}

.pageContainer {
  background-color: rgb(5, 14, 99);
  height: 100%;
}

.title {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px black;
  width: 100%;
}

h1 {
  font-size: 5.9vw;
}

h2 {
  font-size: 4vw;
}

.cardsContainer {
  justify-content: space-evenly;
  display: flex;
}

@media (max-width: 768px) {
  .cardsContainer {
    display: grid;
  }
}
