.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
  text-shadow: 1px 1px black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: white;
}

.shop {
  float: right;
  font-size: x-large;
}

a.active {
  font-weight: bold;
  border-bottom: 3px solid red;
  font-size: x-large;
}

.navLink {
  font-size: x-large;
}

@media (max-width: 498px) {
  .shop {
    font-size: medium;
  }

  .navLink {
    font-size: medium;
  }

  a.active {
    font-size: medium;
  }
}

.navScroll {
  background-color: #111111;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navScroll a.active {
  background-color: red;
}
