.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
  text-shadow: 1px 1px black;
}

.navbar li {
  float: left;
}

.menuTitle a,
.menuTitle button {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  background-color: transparent;
  text-shadow: 1px 1px black;
}

.subMenuTitle a {
  display: none;
}

.menuTitle:hover .subMenuTitle a {
  display: table-caption;
}

li a:hover {
  color: white;
}

a.active {
  font-weight: bold;
  border-bottom: 3px solid red;
  font-size: x-large;
}

.menuTitle button:focus {
  outline: none;
  border-bottom: 3px solid red;
  border-color: none;
}

.navLink {
  font-size: x-large;
}

@media (max-width: 768px) {
  .navLink {
    font-size: large;
  }

  a.active {
    font-size: large;
  }
}

@media (max-width: 480px) {
  .navLink {
    font-size: medium;
  }

  a.active {
    font-size: medium;
  }
}

.navScroll {
  background-color: #111111;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navScroll li {
  float: left;
}

.navScroll a.active {
  background-color: red;
}
